body {
  background: white;
}
.bgLanding {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 561px;
  left: 0px;
  top: 0px;
  background-color: #f1f3ff;
}
.check {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px white;
  width: 24px;
  height: 24px;
  padding: 5px 6px;
  background-color: #cfd4ed;
  color: #0d28a6;
}
.h1toptext {
  position: absolute;
  width: 568px;
  height: 108px;
  left: 136px;
  top: 177px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  /* or 54px */

  color: #000000;
}
.faq {
  color: black;
  margin-right: 50px;
}
.content1 {
  position: absolute;
  width: 468px;
  height: 60px;
  left: 136px;
  top: 301px;

  /* Body/14/Light */

  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  /* or 143% */

  color: #000000;
}
.bigblueboxtext {
  font-size: xx-large;
  color: white;
  text-align: center;
  padding-top: 50px;
}
.rcorners1 {
  border-radius: 15px;
}
.bigblueBox {
  background-color: #0d28a6;
  width: 1000px;
  height: 300px;
  margin: auto;
}
.blueBox {
  background-color: #0d28a6;
  width: 100px;
  height: 34px;
}
.mercy {
  position: absolute;
  width: 871px;
  height: 481px;
  left: 750px;
  top: 100px;
}
.carBg {
  position: absolute;
  width: 100%;
  height: 300px;
  left: 736px;
  top: 261px;

  /* Primary/DarkBlue/04 */

  background: #0d28a6;
  border-radius: 60px 0px 0px 0px;
}
.btnSewa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;

  position: absolute;
  width: 150px;
  height: 36px;
  left: 136px;
  top: 377px;

  /* Primary/LimeGreen/04 */

  background: #5cb85f;
}
.btnRegist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;

  position: static;
  width: 81px;
  height: 36px;
  left: 359px;
  top: 0px;

  /* Primary/LimeGreen/04 */

  background: #5cb85f;
  border-radius: 2px;

  /* Inside auto layout */

  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 0px 32px;
}
.dot1 {
  position: relative;
  height: 133px;
  width: 133px;
  background-color: #92d094;
  border-radius: 50%;
  top: 100px;
  left: 0;
}

.dot2 {
  position: relative;
  height: 25px;
  width: 25px;
  background-color: #fa2c5a;
  border-radius: 50%;
  top: 10px;
  left: 400px;
}

.dot3 {
  position: relative;
  height: 48px;
  width: 48px;
  background-color: #f9cc00;
  border-radius: 50%;
  top: 300px;
  left: 50px;
}

.dot4 {
  position: relative;
  height: 330px;
  width: 330px;
  background-color: #0d28a6;
  border-radius: 50%;
  top: -50px;
  bottom: 110px;
  left: 100px;
}
.img1 {
  position: absolute;
  width: 374px;
  height: 366px;
  left: 100px;
  top: 90px;
}
.card1 {
  background-color: #f1f3ff;
}

.circle1 {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px white;
  width: 32px;
  height: 32px;
  padding: 8px;
  background-color: #f9cc00;
  color: white;
}
.circle2 {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px white;
  width: 32px;
  height: 32px;
  padding: 9px 9px;
  background-color: #fa2c5a;
  color: white;
}

.circle3 {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px white;
  width: 32px;
  height: 32px;
  padding: 8px;
  background-color: #0d28a6;
  color: white;
}
.circle4 {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px white;
  width: 32px;
  height: 32px;
  padding: 9px 10px;
  background-color: #5cb85f;
  color: white;
}
.footLogo {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px white;
  width: 32px;
  height: 32px;
  padding: 9px 11px;
  background-color: #0d28a6;
  color: white;
  margin-bottom: 16px;
}
.footLogo1 {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px white;
  width: 32px;
  height: 32px;
  padding: 9px;
  background-color: #0d28a6;
  color: white;
  margin-bottom: 16px;
  margin-left: 10px;
}
.container1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.parent {
  position: relative;
  top: 0;
  left: 0;
}

.row {
  padding-top: 30px;
}

.container {
  padding-top: 30px;
  overflow: hidden;
}

.image1 {
  position: relative;
  top: 170px;
  right: 15px;
  max-width: 100%;
  max-height: 100%;
}

.image2 {
  position: absolute;
  top: 0;
  left: 0;
}

#test {
  border-radius: 20px;
  background-color: #1900f8;
  padding: 20px;
  width: 750px;
  height: 200px;
  font-family: "Roboto";
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  text-align: center;
}

.navbar-brand {
  font-size: 14;
}

.why {
  padding-top: 30px;
  padding: 24px;
  height: 36px;
  left: 9.44%;
  right: 58.06%;
  top: 1132px;

  /* Heading/24/Bold */

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */

  color: #000000;
}

.why2 {
  padding: 24px;
  width: 468px;
  height: 20px;
  left: 136px;
  top: 1184px;

  /* Body/14/Light */

  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  color: #000000;
}

.card {
  justify-content: center;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  position: static;
  width: 268px;
  height: 196px;
  left: 300px;
  top: 0px;
  font-size: 14px;
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 32px;
}

.card2 {
  position: static;
  text-overflow: ellipsis;
  width: 150px;
  height: 24px;
  left: 2px;
  top: 72px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 16px 0px;
}

.card3 {
  position: static;
  width: 220px;
  height: 60px;
  left: 24px;
  top: 112px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 16px 0px;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #0c9;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.card-header .title {
  font-size: 15px;
  color: #000;
}
.card-header .accicon {
  float: right;
  font-size: 20px;
  width: 1.2em;
}
.card-header {
  cursor: pointer;
  border-bottom: none;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: white;
}
.card {
  border: 1px solid #ddd;
}
.card-body {
  border-top: 1px solid #ddd;
}
.card-header:not(.collapsed) .rotate-icon {
  transform: rotate(180deg);
}
.card-header {
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: white;
  height: 60px;
}
.cardAccordion {
  width: 700px;
  margin-bottom: 10px;
}
.card-img-top1 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 30px;
  top: 30px;
}

.my-float {
  margin-top: 22px;
}

.car {
  left: 65px;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #0c9;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.my-float {
  margin-top: 22px;
}

.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

input[type="checkbox"] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: left;

  background: #ffffff;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  border-radius: 4px;

  padding: 1rem;

  color: black;
  background: white;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #7c5a0b;
}

.lbl-toggle::before {
  content: " ";
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);

  transition: transform 0.2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: white;
  border-bottom: 1px solid rgba(250, 224, 66, 0.45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0.5rem 1rem;
}
